<div class="row">

  <div class="col-md-2">
    <div class="panel panel-default">
      <div class="panel-body">
        <label>Term:</label>
          <ul>
            <li>
              36 month {{input type="checkbox" name="is36TermChecked" checked=is36TermChecked}}
            </li>
            <li>
              24 month {{input type="checkbox" name="is24TermChecked" checked=is24TermChecked}}
            </li>
            <li>
              12 month
              {{input type="checkbox" checked=is12TermChecked}}
            </li>
          </ul>
      </div>
    </div>
  </div>

  <div class="col-md-10">
    <table class="table table-striped">
      <thead>
        <tr>
          <th {{action 'sortByAmountRequested' on="doubleClick"}}>
            Amount Requested
            <span class="glyphicon glyphicon-sort" aria-hidden="true"></span>
          </th>
          <th {{action 'sortByAmountRemaining' on="doubleClick"}}>
            Amount Remaining
            <span class="glyphicon glyphicon-sort" aria-hidden="true"></span>
          </th>
          <th {{action 'sortByAmountFunded' on="doubleClick"}}>
            Amount Funded
            <span class="glyphicon glyphicon-sort" aria-hidden="true"></span>
          </th>
          <th {{action 'sortByRate' on="doubleClick"}}>
            Rate
            <span class="glyphicon glyphicon-sort" aria-hidden="true"></span>
          </th>
          <th {{action 'sortByTerm' on="doubleClick"}}>
            Term
            <span class="glyphicon glyphicon-sort" aria-hidden="true"></span>
          </th>
          <th>
            Invest Now
          </th>
        </tr>
      </thead>
    <tbody>
    {{#each itemController="loan"}}
      <tr>
        <td>${{amountRequested}}</td>
        <td>${{amountRemaining}}</td>
        <td>${{amountFunded}}</td>
        <td>{{percentageRate}}%</td>
        <td>{{term}} months</td>
        <td>{{#link-to 'loan.investments.new' this}}<button type="button" class="btn btn-success">
          Invest
        </button>{{/link-to}}</td>
      </tr>

    {{/each}}
    </tbody>
    </table>
  </div>
</div>

{{outlet}}
