<table class="table table-striped">
  <thead>
    <tr>
      <th>Amount Requested</th>
      <th>Amount Remaining</th>
      <th>Amount Funded</th>
      <th>Rate</th>
      <th>Term</th>
      <th>Invest Now</th>
    </tr>
  </thead>
<tbody>
{{#each itemController="loan"}}
  <tr>
    <td>${{amountRequested}}</td>
    <td>${{amountRemaining}}</td>
    <td>${{amountFunded}}</td>
    <td>{{percentageRate}}%</td>
    <td>{{term}} months</td>
    <td><button type="button" class="btn btn-success" {{action 'showModal' 'invest-modal' this}}>
      Invest
    </button></td>
  </tr>

{{/each}}
</tbody>
</table>

{{outlet}}
